<section class="pt-7 pt-md-10">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading -->
                <h2 class="mb-0">
                    Denieres Actualités
                </h2>
                <!--  -->
                <p class="mb-5 text-muted">
                    These span the grid's entire width with several options.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 d-flex">

                <!-- Card -->
                <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg" data-aos="fade-up">
                    <!-- Body -->
                    <a class="card-body" href="#!">

                        <!-- Heading -->
                        <h3>
                            Landkit is Moving to an Office In Austin, TX
                        </h3>

                        <!-- Text -->
                        <p class="mb-0 text-muted">
                            Have a question?
                            Not sure exactly what we’re looking for or just want clarification? We’d be happy to chat with you and clear things up for you. Anytime!
                            CALL ANYTIME
                            (555) 123-4567

                        </p>

                    </a>

                    <!-- Meta -->
                    <a class="card-meta mt-auto" href="#!">
                        <!-- Divider -->
                        <hr class="card-meta-divider">
                        <!-- Author -->
                        <h6 class="text-uppercase text-muted  mb-0">
                           Publier le :  <time datetime="2019-05-02" class="float-end ml-2"> 02 May 2021</time>
                        </h6>
                    </a>

                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex">

                <!-- Card -->
                <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg" data-aos="fade-up">
                    <!-- Body -->
                    <a class="card-body" href="#!">

                        <!-- Heading -->
                        <h3>
                            Landkit is Moving to an Office In Austin, TX
                        </h3>

                        <!-- Text -->
                        <p class="mb-0 text-muted">
                            Have a question?
                            Not sure exactly what we’re looking for or just want clarification? We’d be happy to chat with you and clear things up for you. Anytime!
                            CALL ANYTIME
                            (555) 123-4567

                        </p>

                    </a>

                    <!-- Meta -->
                    <a class="card-meta mt-auto" href="#!">
                        <!-- Divider -->
                        <hr class="card-meta-divider">
                        <!-- Author -->
                        <h6 class="text-uppercase text-muted me-2 mb-0">
                            Publier le:  <time datetime="2019-05-02" class="float-end">02 May 2021</time>
                        </h6>
                    </a>

                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex">

                <!-- Card -->
                <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg" data-aos="fade-up">
                    <!-- Body -->
                    <a class="card-body" href="#!">

                        <!-- Heading -->
                        <h3>
                            Landkit is Moving to an Office In Austin, TX
                        </h3>

                        <!-- Text -->
                        <p class="mb-0 text-muted">
                            Have a question?
                            Not sure exactly what we’re looking for or just want clarification? We’d be happy to chat with you and clear things up for you. Anytime!
                            CALL ANYTIME
                            (555) 123-4567

                        </p>

                    </a>

                    <!-- Meta -->
                    <a class="card-meta mt-auto" href="#!">
                        <!-- Divider -->
                        <hr class="card-meta-divider">
                        <!-- Author -->
                        <h6 class="text-uppercase text-muted me-2 mb-0">
                            Publier le:  <time datetime="2019-05-02" class="float-end">02 May 2021</time>
                        </h6>
                    </a>

                </div>

            </div>

        </div>
    </div> <
</section>