<!-- ARTICLES -->
<section class="pt-8 pt-md-11">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading -->
                <h2 class="mb-0">
                    Denieres realisations
                </h2>
                <!--  -->
                <p class="mb-5 text-muted">
                    These span the grid's entire width with several options.
                </p>
            </div>
        </div>
        <!-- / .row -->
        <div class="row">
            <div class="col-12">
                <!-- Card -->
                <div class="mb-6 card card-row shadow-light-lg lift " data-aos="fade-right">
                    <div class="row gx-0">
                        <div class="col-12">
                            <!-- Badge -->
                            <span class="bg-gray-600 badge rounded-pill badge-float badge-float-outside">
                                <span class="h6 text-uppercase">Batiment</span>
                            </span>
                        </div>
                        <a class="bg-cover col-12 col-md-6 order-md-2 card-img-end" style="background-image: url(https://www.bordeaux-tourisme.com/sites/bordeaux_tourisme/files/styles/large/public/medias/widgets/misc/MIROIR%20D_EAU%20%C2%A9Steve%20Le%20Clech%20Photos.jpg?itok=mgvNE2DL);" href="#!">
                            <!-- Image (placeholder) -->
                            <img src="assets/img/photos/photo-27.jpg" alt="..." class="invisible img-fluid d-md-none">
                            <!-- Shape -->
                            <div class="text-white shape shape-start shape-fluid-y d-none d-md-block">
                                <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h62.759v172C38.62 384 112 517 112 517v173H0V0z" fill="currentColor"/></svg>                  </div>
                        </a>
                        <div class="col-12 col-md-6 order-md-1">
                            <!-- Body -->
                            <a class="card-body" href="#!">
                                <!-- Heading -->
                                <h3>
                                    Photo on Right.
                                </h3>
                                <!-- Text -->
                                <p class="mb-0 text-muted">
                                    This is the body text of the blog post to give visitors an idea of what the post is about beyond just the title. It can be a long snippet, a short snippet, whatever you prefer the size of card and description to be.
                                </p>
                            </a>
                            <!-- Meta -->
                            <a class="card-meta" href="#!">
                                <!-- Divider -->
                                <hr class="card-meta-divider">
                                <!-- Avatar -->
                                <div class="avatar avatar-sm me-2">
                                    <img src="assets/img/avatars/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                                <!-- Author -->
                                <h6 class="mb-0 text-uppercase text-muted me-2">
                                    Ulka LANGOUBA
                                </h6>
                                <!-- Date -->
                                <p class="mb-0 h6 text-uppercase text-muted ms-auto">
                                    <time datetime="2019-05-31">May 31</time>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Card -->
                <div class="mb-6 card card-row shadow-light-lg lift" data-aos="fade-right">
                    <div class="row gx-0">
                        <div class="col-12">
                            <!-- Badge -->
                            <span class="bg-gray-600 badge rounded-pill badge-float badge-float-outside">
                                <span class="h6 text-uppercase">Hotelerie</span>
                            </span>
                        </div>
                        <a class="bg-cover col-12 col-md-6 card-img-start" style="background-image: url(https://vivrebordeaux.fr/wp-content/uploads/2020/07/miroir-deau.jpg);" href="#!">
                            <!-- Image (placeholder) -->
                            <img src="assets/img/photos/photo-28.jpg" alt="..." class="invisible img-fluid d-md-none">
                            <!-- Shape -->
                            <div class="text-white shape shape-end shape-fluid-y d-none d-md-block">
                                <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z" fill="currentColor"/></svg>
                            </div>

                        </a>
                        <div class="col-12 col-md-6">
                            <!-- Body -->
                            <a class="card-body" href="#!">
                                <!-- Heading -->
                                <h3>
                                    Photo on Left.
                                </h3>
                                <!-- Text -->
                                <p class="mb-0 text-muted">
                                    This is the body text of the blog post to give visitors an idea of what the post is about beyond just the title. It can be a long snippet, a short snippet, whatever you prefer the size of card and description to be.
                                </p>
                            </a>
                            <!-- Meta -->
                            <a class="card-meta" href="#!">
                                <!-- Divider -->
                                <hr class="card-meta-divider">
                                <!-- Avatar -->
                                <div class="avatar avatar-sm me-2">
                                    <img src="assets/img/avatars/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                                <!-- Author -->
                                <h6 class="mb-0 text-uppercase text-muted me-2">
                                    Ulka LANGOUBA
                                </h6>
                                <!-- Date -->
                                <p class="mb-0 h6 text-uppercase text-muted ms-auto">
                                    <time datetime="2019-05-29">May 29</time>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>