<!-- WELCOME -->
<section data-jarallax data-speed=".8" class="py-10 bg-cover py-md-14 overlay overlay-black overlay-60 jarallax" style="background-image: url(https://www.okvoyage.com/wp-content/uploads/2020/03/marseille-france.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="text-center col-12 col-md-10 col-lg-8">

                <!-- Heading -->
                <h1 class="text-white display-2">
                    Want to work with us?
                </h1>

                <!-- Text -->
                <p class="mb-6 lead text-white-75">
                    We're always looking to hire talented folks to join our ever-growing team of designers, engineers, and support staff.
                </p>

                <!-- Button -->
                <a href="#!" class="btn btn-primary lift">
                    View open positions <i class="fe fe-arrow-right ms-3"></i>
                </a>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>
<!-- SHAPE -->
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/>
        </svg>
    </div>
</div>