<!-- NAVBAR -->
<nav class="bg-dark navbar navbar-expand-lg navbar-light text-white">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="https://www.horizonprevention.fr/wp-content/uploads/2019/06/Logo-transparent.png"  class="navbar-brand-img" alt="..." >
        </a>
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fe fe-x"></i>
            </button>
            <!-- Navigation -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a href="{{ path('realisation') }}" class="nav-link">
                        Réalisations
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="{{ path('actualite') }}" class="nav-link">
                        Actualités
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"   data-bs-toggle="dropdown" href="#" aria-haspopup="true">
                        Portfolio
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                        <li class="dropdown-item dropend">
                            <a class="dropdown-link" data-bs-toggle="dropdown" href="#">
                                Settings
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a class="dropdown-link" data-bs-toggle="dropdown" href="#">
                                Sign In
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a class="dropdown-link" data-bs-toggle="dropdown" href="#">
                                Sign Up
                            </a>
                        </li>
                        <li class="dropdown-item dropend">
                            <a class="dropdown-link" data-bs-toggle="dropdown" href="#">
                                Error
                            </a>
                        </li>
                  </ul>  
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                        A propos
                    </a>
                </li>
            </ul>
            <!-- Button -->
            <a class="navbar-btn btn btn-sm btn-primary lift ms-auto" href="https://themes.getbootstrap.com/product/landkit/" target="_blank">
                Nous contacter
            </a>
        </div>
    </div>
</nav>

<!-- JAVASCRIPT -->
<!-- Map JS -->
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

<!-- Vendor JS -->
<script src="./assets/js/vendor.bundle.js"></script>

<!-- Theme JS -->
<script src="./assets/js/theme.bundle.js"></script>