{% extends 'base.html.twig' %}

{% block title %}Willfrid Dongmo{% endblock %}

{% block body %}
   <section data-jarallax data-speed=".8" class="py-15 overlay overlay-black overlay-60 jarallax" style="background-image: url(https://landkit.goodthemes.co/assets/img/photos/photo-21.jpg);">
       <div class="container">
           <div class="row">
               <div class="col-md-12 col-md-7">
                   <blockquote class="blockquote mb-0">
                       <p class="h2 text-white">
                           {{ peintre.prenom }} {{ peintre.nom }}
                       </p>
                       <footer class="blockquote-footer text-white-50 mb-0 justify">
                           <p class="h3">
                               {{ peintre.APropos | u.truncate(150,'...',false)}}
                           </p>
                       </footer>
                   </blockquote>
               </div>
           </div>
       </div>

   </section>
{% endblock %}
